<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllItems</key>
	<array>
		<dict>
			<key>TestName</key>
			<string>B2987_CHECK</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>-0.01</string>
			<key>Max</key>
			<string>0.01</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>--</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B2987_CHECK</string>
					<key>TestDevice</key>
					<string>DMM</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B2987_CHECK</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>SHORT_TEST_B4_E4</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>1000</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B2987_CHECK</string>
					<key>TestDevice</key>
					<string>DMM</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>--</string>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>DMM</string>
					<key>TestCommand</key>
					<string>RES</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>Fixture</string>
					<key>TestCommand</key>
					<string>RES_DMM_B4_E4</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Delay Time</string>
					<key>TestDevice</key>
					<string>SW</string>
					<key>TestCommand</key>
					<string></string>
					<key>TestDelayTime</key>
					<string>10</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
				<dict>
					<key>TestName</key>
					<string>Read B4-E4_DCR</string>
					<key>TestDevice</key>
					<string>DMM</string>
					<key>TestCommand</key>
					<string>Read command</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR_Rfix</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>B4_E4_DCR_Rdut</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>GOhm</string>
			<key>Min</key>
			<string>30</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>Freq</key>
			<string>20</string>
			<key>AllNeedCommands</key>
			<array/>
		</dict>
		<dict>
			<key>TestName</key>
			<string>TEMP</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>degree</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>--</string>
					<key>TestDevice</key>
					<string>TempHimu</string>
					<key>TestCommand</key>
					<string>READ</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>TestName</key>
			<string>HUMID</string>
			<key>RetryTimes</key>
			<integer>2</integer>
			<key>Units</key>
			<string>percent</string>
			<key>Min</key>
			<string>--</string>
			<key>Max</key>
			<string>--</string>
			<key>Value1</key>
			<string>--</string>
			<key>Value2</key>
			<string>--</string>
			<key>Value3</key>
			<string>--</string>
			<key>Value4</key>
			<string>--</string>
			<key>Result1</key>
			<string>--</string>
			<key>Result2</key>
			<string>--</string>
			<key>Result3</key>
			<string>--</string>
			<key>Result4</key>
			<string>--</string>
			<key>IsTest</key>
			<true/>
			<key>IsShow</key>
			<true/>
			<key>AllNeedCommands</key>
			<array>
				<dict>
					<key>TestName</key>
					<string>--</string>
					<key>TestDevice</key>
					<string>HIMU</string>
					<key>TestCommand</key>
					<string>--</string>
					<key>TestDelayTime</key>
					<string>--</string>
					<key>TestResultIsDigital</key>
					<false/>
					<key>TestResultDisplay</key>
					<false/>
					<key>TestBackValueSign</key>
					<string></string>
					<key>TestBackValueRegex</key>
					<string>OK</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
